.App {
  text-align: center;
}

.single-search-div {
  background-color: rgb(203, 80, 47);
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top: solid 4px #dedede;
  border-bottom: solid 4px #dedede;
  border-radius: 50px;
  margin: 20px;
}

.single-search-bar {
  height: 25px;
  border: 4px solid gray;
  border-radius: 15px;
  text-align: center;
}

.single-search-img {
  width: 250px;
  margin: 0px auto;
  position: static;
  display: block;
}

.App-link {
  color: #61dafb;
}
